<div class="container">          
  <table class="table">
    <thead>
      <tr class="row-head">
        <th></th>
        <th>Song</th>
        <th>Artist</th>
        <th class='dcha'><span class="glyphicon glyphicon-time" aria-hidden="true"></span></th>
      </tr>
    </thead>
    <tbody class="listatracks" *ngIf='topTracks'>
      <tr *ngFor='let item of topTracks.tracks.items; let i = index'>
        <td>{{i+1}}</td>
        <td data-toggle="modal" [attr.data-target]="'#myModal' + i">{{item.name}}</td>
        <!--MODAL-->
        <div class="modal fade"  id="myModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header well" style="text-align: center;">
              <img src={{item.album.images[0].url}} name="aboutme" width="200" height="200" border="0" style="margin-bottom: 1%;"><br>
                <h3 class="media-heading">{{item.name}}</h3>
              </div>
            <div class="modal-body" style="text-align: left;">
            <table class="basic">
              <tr>
              <td class='dcha suc' style="margin-left=0;"><span class="label label-success">ARTIST</span></td>
              <td class='dcha'><h4>{{structureArtists(item.artists)}}</h4></td>
              </tr>
              <tr>
              <td class='dcha'><span class="label label-default">ALBUM</span></td>
              <td><h4>{{item.album.name}}</h4></td>
              </tr>
              <tr>
              <td class='dcha'><span class="label label-default">TRACK NUMBER</span></td>
              <td><h4>{{item.track_number}}</h4></td>
              </tr>
              <tr>
              <td class='dcha'><span class="label label-default">DURATION</span></td>
              <td><h4>{{structureDuration(item.duration_ms)}}</h4></td>
              </tr>
            </table>
            <br>
            <div style="text-align: right; " class="well">
            <audio controls>
            
                <source src={{item.preview_url}} type="audio/mpeg">

            </audio>
            <br>
            <a href={{item.external_urls.spotify}} target="_blank">Listen it on Spotify!</a></div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!--MODAL ENDS-->

        <td><span> {{structureArtists(item.artists)}}</span></td>
        <td class='dcha'>{{structureDuration(item.duration_ms)}}</td>
      </tr>
   </tbody>
  </table>
</div>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>




-->