<div class="container">          
  <table class="table">

    <thead>
      <tr class="row-head">
        <th>Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th class='dcha'>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Light 'em up</td>
        <td>Fall out boy</td>
        <td>john@example.com</td>
        <td class='dcha'>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td class='dcha'>john@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td class='dcha'>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>