.navbar.navbar-default{
	margin-bottom: 0px;
}
.barranav{
	height: 10px;
	margin-top: -7px;
}
.dropdown p{
	margin-left: 10%;
	color: #7b8a8b;
}


.derecha{
	margin-right: -18%;
}

@media only screen and (min-width: 550px) {
	.barranav{
		width: 300px;
	}
}

@media only screen and (max-width: 550px) {
	.barranav{
		width: 200px;
	}
}

